
@import "tailwindcss";

@theme {
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-lightGray: #d3d9d4;
  --color-website-color-green: #124e66;
  --color-website-color-lightGreen: #748d92;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee2 {
  0% { transform: translateX(50%); }
  100% { transform: translateX(0); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 20s linear infinite;
}


/* Custom radial gradient for active nav item */
.bg-radial-active {
  background: radial-gradient(circle at right, #178C91 0%, #323232 24%);
}
